/* Base Styles */
body {
    display: flex;
    margin: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    flex-grow: 1;
    padding: 20px;
    color: white;
    overflow: auto;
    transition: margin-left 0.3s ease;
}

section {
    margin-bottom: 50px;
}

/* Floating Navigation */
.floating-nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: dimgray;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
    z-index: 1000;
    border: 1px solid white;
}

.nav-link {
    padding: 5px 15px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    margin: 0 5px;
}

.nav-link:hover,
.nav-link.active {
    font-size: 1.3em;
    font-weight: 1000;
    color: white;
    background-color: transparent;
}

/* About Section */
.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.about-text h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.3em;
}

/* Contact Section */
.contact-intro {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.contact-card {
    background-color: dimgray;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid white;
}

.contact-card i {
    margin-bottom: 5px;
    display: block;
}

.contact-card:hover {
    background-color: #e8e8e8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    color: black;
}

.contact-card span,
.contact-card a {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-card a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-card a:hover,
.contact-card a:focus {
    color: black;
    text-decoration: underline;
}

/* CV Section */
.cv-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.cv-row {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Spaces the boxes evenly */
    gap: 20px; /* Adds space between boxes */
}

.cv-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Keeps existing layout for CV boxes */
    gap: 20px; /* Maintain spacing between boxes */
    width: 100%; /* Ensures container takes full width */
}

.cv-box {
    background-color: dimgray;
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    width: calc(50% - 10px);
    flex: 1;
}

.cv-box h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.cv-box:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.cv-box:hover * {
    color: black;
}

.cv-detail {
    display: block;
    padding-top: 10px;
}

.cv-detail ul {
    list-style-type: disc;
    padding-left: 20px;
}

.cv-detail ul li {
    padding-bottom: 5px;
}

.cv-detail ul ul {
    list-style-type: circle;
    padding-left: 20px;
}

/* CV Download Button */
.cv-download {
    background-color: dimgray;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    align-self: flex-start;
}

.cv-download:hover {
    background-color: #e8e8e8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    color: black;
}

/* Project Section */
.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 4%;
}

.project-category {
    flex: 1;
}

.project-box {
    background-color: dimgray;
    color: white;
    margin-bottom: 40px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    width: 90%; /* Makes project boxes wider within their container */
}

.project-box:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.project-box h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

.project-details {
    display: block;
    padding-top: 10px;
}

.project-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project-details ul li {
    padding-bottom: 5px;
}

.project-details ul ul {
    list-style-type: circle;
    padding-left: 20px;
}

/* Media Queries */
/* Media Queries */
@media screen and (max-width: 768px) {

    .projects-container,
    .cv-boxes-container {
        display: flex;
        flex-direction: column;
    }

    .project-box,
    .cv-box {
        width: 100%;
        /* Ensure there's no margin that could affect the full width */
        margin-left: 0;
        margin-right: 0;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .about-container {
        flex-direction: column;
        padding-top: 80px;
    }

    .about-image {
        width: 200px;
        height: 200px;
        /* Centering the image if the container is now flex-column */
        margin: 0 auto;
    }

    .floating-nav {
        padding: 10px;
        font-size: 0.8em;
    }

    .nav-link {
        padding: 5px 10px;
    }
}